<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" style="background-color:white;">
            <nav class="navbar flex-column bg-dark navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand" href="#">
                    <img src="../static/nonboss.png " alt="Non"/>
                </a>
                <!-- Links -->
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item">
                        <a class="nav-link active" href="http://localhost:8080/user/userQuery">用户管理</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">订单管理</a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
                            交易管理
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item " href="#">支付信息</a>
                            <a class="dropdown-item " href="#">物流信息</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">异常管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">库存管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">门店管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">商城设置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">运营管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">商品管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">财务管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">账号权限</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8" style="background-color:white;">
            <div class="media border p-2  border-right-0  border-left-0 ">
                <div class="media-body">
                    <h4>注册</h4>
                    <h4 class="float-right">韦爵爷</h4>
                </div>
                <img src="http://y1.ifengimg.com/news_spider/dci_2012/09/02fd0e486b8f9ae1ac4785b5d23dd18b.jpg" alt="John Wei" class="ml-4 mt-4 rounded-circle" style="width:60px;height: 60px">
            </div>
            <form action="/user/userRegister" class="mx-auto bg-light" style="width:400px" method="post">
                <div class="form-group">
                    <label for="usr">用户名:</label>
                    <input class="form-control" id="usr" name="username" type="username">

                    <label for="pwd">密码:</label>
                    <input type="password" name="password" class="form-control" id="pwd">

                    <label for="email">邮箱:</label>
                    <input type="email" name="email" class="form-control" id="email">

                    <label for="tel">手机号码:</label>
                    <input type="tel" name="phone" class="form-control" id="tel">
                </div>
                <div class="row justify-content-center">
                    <input  type="submit" class="btn-secondary" onclick = ' return confirm("注册成功，请重新登录"); ' value="注册"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>