<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid bg-light ">
    <div class="container">
        <h1>注册</h1>
        <p>请填入你的相关信息</p>
    </div>
</div>
    <form action="/user/userRegister" class="mx-auto bg-light" style="width:400px" method="post">
    <div class="form-group">
        <label for="usr">用户名:</label>
        <input name="username" class="form-control" id="usr">

        <label for="pwd">密码:</label>
        <input type="password" name="password" class="form-control" id="pwd">

        <label for="email">邮箱:</label>
        <input type="email" name="email" class="form-control" id="email">

        <label for="tel">手机号码:</label>
        <input type="tel" name="phone" class="form-control" id="tel">
    </div>
    <div class="row justify-content-center">
        <input  type="submit" class="btn-secondary" value="注册"/>
    </div>
    </form>
</body>