<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/user/updateUser"  method="post">
        用户名：<input disabled="disabled" class="form-control" type="text" th:value="${user.username}"  name="username"/><br>
        密码：<input class="form-control" type="text" th:value="${user.password}"  name="password"/><br>
        邮箱：<input class="form-control" type="text" th:value="${user.email}"  name="email"/><br>
        电话：<input class="form-control" type="text" th:value="${user.phone}"  name="phone"/><br>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>