<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <a href="http://localhost:8080/user/loginHtml" class="btn btn-dark float-right" role="button">注销</a>
    <div class="row">
        <div class="col-sm-2" style="background-color:white;">
            <nav class="navbar flex-column bg-dark navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand" href="http://localhost:8080/NavigationHtml">
                    <img src="../static/img/nonboss.png " alt="gaodingkeji"/>
                </a>
                <!-- Links -->
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item">
                        <a class="nav-link active" href="http://localhost:8080/user/userQuery">用户管理</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">订单管理</a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
                            交易管理
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item " href="#">支付信息</a>
                            <a class="dropdown-item " href="#">物流信息</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">异常管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">库存管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">门店管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">商城设置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">运营管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">商品管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">财务管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">账号权限</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                    <li class="nav-item"><a class="nav-link active" href=""></a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8" style="background-color:white;">
            <div class="media border p-2  border-right-0  border-left-0 ">
                <a href="#demo" data-toggle="collapse">
                    <img src="http://y1.ifengimg.com/news_spider/dci_2012/09/02fd0e486b8f9ae1ac4785b5d23dd18b.jpg"
                         alt="John Wei" class="ml-4 mt-4 rounded-circle" style="width:60px;height: 60px">
                </a>
                <span class="badge badge-pill badge-info">信息</span>
                <div id="demo" class="collapse">
                    <dl>
                        <dt>&nbsp;韦小宝</dt>
                        <dd>金庸武侠小说《鹿鼎记》中的男主角。本是扬州人，其母韦春花是位妓女。一次偶然事件，韦小宝被江洋大盗茅十八带到北京，偶入皇宫，结识康熙帝，擒鳌拜，入天地会，拜天地会总舵主陈近南为师。赴五台山探望顺治帝，出家少林寺，解救顺治帝。后来身为赐婚使出使云南。平神龙岛，帮助索菲亚公主夺权。后因其天地会香主的身份被康熙帝发现出逃，通吃岛度过了几年。后来取得雅克萨之战大捷，签订尼布楚条约，最终携七个夫人归隐。</dd>
                    </dl>
                </div>
            </div>
            <br/>
            <form action="/user/updateUser"  method="post" class="mx-auto bg-light" style="width:400px ">
                <div class="form-group" th:each="OneUser : ${OneUser}">
                    <input type="hidden" class="form-control" name="uid" th:value="${OneUser.uid}"/>

                    <label>用户名：</label>
                    <input class="form-control" name="username" th:value="${OneUser.username}"/>

                    <label>密码： </label>
                    <input class="form-control" name="password" th:value="${OneUser.password}"/>

                    <label>邮箱：</label>
                    <input class="form-control"  name="email" th:value="${OneUser.email}" />

                    <label> 电话：</label>
                    <input class="form-control"  name="phone"  th:value="${OneUser.phone}"  />
                </div>
                <div class="form-group row justify-content-center">
                    <input type="submit" role="button" class="btn btn-outline-primary" value="提交"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>