<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid bg-light ">
    <div class="container">
        <h1>用户更新</h1>
        <p>更改需要的信息</p>
    </div>
</div>
    <form action="/user/updateUser"  method="post" class="mx-auto bg-light" style="width:400px ">
        <div class="form-group">
            <label for="usr">用户名：</label>
            <input class="form-control" type="text" th:value="${user.username}"  name="username"/>

            <label for="pwd">密码：</label>
            <input class="form-control" type="text" th:value="${user.password}"  name="password"/>

            <label for="email">邮箱：</label>
            <input class="form-control" type="text" th:value="${user.email}"  name="email"/>

            <label for="tel"> 电话：</label>
            <input class="form-control" type="text" th:value="${user.phone}"  name="phone"/>
        </div>
        <div class="form-group">
            <input type="submit" value="提交"/>
        </div>
    </form>
</body>
</html>