<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户查询</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
</head>
<body>
<h1>用户列表</h1>
<form action="/user/userQuery" method="post">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>序列号</th>
            <th>用户名</th>
            <th>密码</th>
            <th>电话</th>
            <th>邮件</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userList}">
                <td th:text=" ${user.id} " >1</td>
                <td th:text=" ${user.username} ">neo</td>
                <td th:text=" ${user.password} ">Otto</td>
                <!--/*@thymesVar id="phone" type=""*/-->
                <td th:text=" ${user.phone} ">15371663928</td>
                <td th:text=" ${user.email} " id="email" th:type="email">153716545@qq.com</td>
                <td>
                    <!--/*@thymesVar id="id" type=""*/-->
                    <a th:href="@{/user/findOneUser(id=${user.id})}">修改</a>
                </td>
                <td>
                    <a th:href="@{/user/deleteUser(id=${user.id})}">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<p>
    当前<span th:text="${pageinfo.pageNum}"></span>页,总
    <span th:text="${pageinfo.pages}"></span>页,共
    <span th:text="${pageinfo.total}"></span>条记录
</p>
<div class="container row justify-content-center">
    <ul class="pagination">
        <li class="page-item "><a class="page-link" th:href="@{/user/userQuery}" >第一页</a></li>
        <li class="page-item active"><a class="page-link" th:href="@{/user/userQuery(pageNum=${pageinfo.hasPreviousPage}?${pageinfo.prePage}:1)}">上一页</a></li>
        <li class="page-item "><a class="page-link" th:href="@{/user/userQuery(pageNum=${pageinfo.hasNextPage}?${pageinfo.nextPage}:${pageinfo.pages})}">下一页</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/user/userQuery(pageNum=${pageinfo.pages})}">最后一页</a></li>
    </ul>
</div>
</body>
</html>