<!DOCTYPE html>
<link lang="en" xmlns:th="http://www.thymeleaf.org">
    <link>
        <title>登陆界面</title>
    <link rel="stylesheet" href="/statics/bootstrap-4.3.1-dist/css"></link>
    </head>
    <body class="container">
    <br/>
    <h1>登陆</h1>
    <br/><br/>
    <div class="ui-widget-header">
        <form  action="/user/userLogin" method="post">
            <div class="form-select-button">
                <label class="col-sm-2">用户名</label>
                <div class="col-sm-12">
                    <input  width="80%" type="text"  id="username" name="username">
                </div>
            </div>
            <div class="form-select-button">
                <label class="col-sm-2">密码</label>
                <div class="col-sm-12">
                    <input type="text"  id="password" name="password">
                </div>
            </div>
            <div class="form-select-button">
                <div class="col-sm-auto col-sm-10">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/statics/images/lock.png" width="30" height="46">
                    <input class="btn btn-info" type="submit"  value="登陆">
                </div>
            </div>
        </form>
    </div>
    </body>
</html>


