<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyb.winter.mapper.OrderMapper">

    <!--定义resultmap映射-->
    <resultMap id="userOrderMap" type="com.wyb.winter.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="phone" property="phone"/>
        <association property="commodity" javaType="com.wyb.winter.entity.Commodity">
            <id property="uid" column="uid"/>
            <result property="attribute" column="attribute"/>
            <result property="CommodityName" column="CommodityName"/>
        </association>
    </resultMap>

    <select id="getUserOrder" resultMap="userOrderMap"><![CDATA[
        SELECT u.username,u.phone, c.CommodityName, c.attribute FROM user u, commodity c WHERE u.id = c.uid
    ]]></select>

</mapper>