<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyb.winter.mapper.UserMapper">


    <!--用户登录验证-->
    <select id="userLogin" parameterType="com.wyb.winter.entity.User" resultType="User">
        SELECT id,username,password,phone,email FROM user WHERE username = #{username} AND password = #{password}
    </select>

    <!--用户注册 -->
    <insert id="addUser" parameterType="com.wyb.winter.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username,password,phone,email) VALUES (#{username},#{password},#{phone},#{email})
    </insert>

    <!--用户查询 -->
    <select id="getUser" parameterType="com.wyb.winter.entity.User" resultType="User"><![CDATA[
        SELECT * FROM user ORDER by id ASC
    ]]></select>

    <!--id查询用户 -->
    <select id="getUserById" parameterType="int" resultType="User">
        SELECT * from USER WHERE id = {#id}
    </select>

    <!--用户删除 -->
    <select id="deleteUser" parameterType="int" resultType="User">
        DELETE from USER WHERE id = {#id}
    </select>

</mapper>